#header-background {
  background: url(img/1.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.black-row {
  background-color: #181818;
}

.dark-row {
  background-color: #202020;
}

.vertical-line{
  height: 80px;
  width: 1px;
}

.no-wrap{
  white-space: nowrap;
}

.z-index-max{
  z-index: 999;
}

#position-button-carousel{
  margin-top: 24px !important;
  position: relative !important;
}

#bottom-line-position{
  margin-bottom: 64px !important;
  position: relative !important;
}

.carousel-indicators .active {
    background-color: #ffc107 !important;
}

.img-circle{
  border-radius:50% !important;
  width: 120px;
}


/* Flip-card */

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {

}

.flip-card-back {
  color: white;
  transform: rotateY(180deg);
}

.flip-img{
  border-radius:50% !important;
  width: 48px;
}

.flip-card-text-size{
  font-size: 12px !important;
}

.flip-card-left-text{
  writing-mode: vertical-rl;
  text-orientation: mixed;
}
