#header-background {
  background: url(img/1.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#vertical-line{
  height: 80px;
  width: 1px;
}

#first-row {
  background-color: #202020;
}

#second-row {
  background-color: #181818;
}
